.app {
  min-height: 100vh;
  color: white;
  background: linear-gradient(to top right, #4e54c8, #8f94fb);;
  background-size: cover;
  text-align: center;
  padding: 2rem;
}

.search input {
  padding: 10px;
  font-size: 16px;
  width: 200px;
}

.search button {
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
}

.current-weather {
  margin-top: 2rem;
}

.icon-temp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-temp img {
  width: 80px;
}

.temp {
  font-size: 48px;
  margin-left: 10px;
}

.min-max {
  font-size: 20px;
  margin-top: 5px;
}

.condition {
  text-transform: capitalize;
}

.forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.forecast-day {
  text-align: center;
}

.forecast-day img {
  width: 40px;
}
